@import "./reset";
@import "./variable";
@import "./location";
@import "./collection_layout";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");

body {
  font-family: "Roboto", sans-serif, "Noto Sans TC";
}

/* Rules for sizing the icon. */
.material-icons {
  vertical-align: middle;
}

// 共用 class
.pc-d-none {
  display: none;
}
.sp-d-none {
  display: block;
}

.d-f {
  display: flex;
}

.a-i-c {
  align-items: center;
}

.mb-24 {
  margin-bottom: 24px;
}

.container {
  max-width: calc(1920px - (312px * 2));
  margin: 0 auto;
}


// header
.header {
  background-color: $primary;
  .container {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include pad() {
      padding: 16px 36px;
    }
    @include mobile() {
      padding: 16px 15px 16px 15px;
    }
  }
  .logo {
    img {
      width: 80px;
      height: auto;
      transform: scale(1,1);
      transition: 1s all ease-in;
      &:hover {
        transform: scale(1.1 , 1.1);
      }
    }
  }
  .top-nav {
    display: flex;
    gap: 64px;
    @include mobile() {
      display: none;
    }
  }
  .top-nav__item a {
    font-size: 20px;
    line-height: 1.5;
    color: white;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }
  .menu-icon {
    display: none;
    @include mobile() {
      display: block;
    }
  }
  .material-icons {
    font-size: 40px;
    color: white;
  }
}
// footer
.footer {
  background-color: $primary;
  .container {
    @include pad() {
      padding-left: 36px;
      padding-right: 36px;
    }
    @include mobile() {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
  .top-content {
    padding-top: 48px;
    padding-bottom: 32px;
    border-bottom: 1px solid white;
    @include mobile() {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: start;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .down-nav {
    display: flex;
    gap: 48px;
    @include mobile() {
      display: none;
    }
    a {
      font-size: 16px;
      line-height: 1.5;
      color: white;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .social-icon {
    gap: 32px;
    margin-left: auto;
    @include pad() {
      gap: 16px;
    }
    @include mobile() {
      gap: 8px;
    }
    img {
      width: 48px;
      transform: scale(1,1);
      transition: 0.5s all ease-in;
      &:hover {
        transform: scale(1.1 , 1.1);
      }
      @include pad() {
        width: 40px;
      }
      @include mobile() {
        width: 24px;
      }
    }
  }
  .contact {
    gap: 8px;
    .material-icons {
      font-size: 48px;
      color: white;
      @include mobile() {
        font-size: 24px;
      }
    }
    a {
      font-size: 36px;
      line-height: 1.5;
      color: white;
      transform: scale(1,1);
      transition: 1s all ease-in;
      &:hover {
        transform: scale(0.9 , 0.9);
      }
      @include mobile() {
        font-size: 16px;
      }
    }
    .contact__img {
      margin-right: 16px;
      @include mobile() {
        font-size: 24px;
        margin-right: 8px;
      }
    }
  }
  .down-content {
    padding-top: 32px;
    padding-bottom: 32px;
    @include pad() {
      padding-bottom: 40px;
    }
    @include mobile() {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 16px;
      padding-bottom: 24px;
    }
  }
  .copyright {
    @include mobile() {
    margin-bottom: 8px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      color: white;
    }
  } 
  .service {
    margin-left: auto;
    gap: 48px;
    @include mobile() {
      display: inline-block;
      margin-left: 0;
    }
    a {
      font-size: 14px;
      line-height: 1.5;
      color: white;
      @include mobile() {
        font-size: 16px;
      }
    }
  }
}

@include mobile(){
  .sp-d-none {
    display: none;
  }
  .pc-d-none {
    display: block;
  }
}